# Dependencies
**/node_modules

# Version control & CI
.git
.github

# React Native app cannot run in Docker
apps/mobile

# Build outputs
**/dist
**/.turbo
**/.parcel-cache

# Test artifacts
playwright-report
test-results
**/coverage

# Misc
**/.DS_Store
*.log
